<p id="microsoftappplatformspringconfigurationservicessingular">Microsoft.AppPlatform spring configuration service</p>
<p id="microsoftappplatformspringconfigurationservicessingularlc">microsoft.appplatform spring configuration service</p>
<p id="microsoftappplatformspringconfigurationservicesplural">Microsoft.AppPlatform spring configuration services</p>
<p id="microsoftappplatformspringconfigurationservicesplurallc">microsoft.appplatform spring configuration services</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprovisioningstate">State of the Application Configuration Service.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesinstances">Collection of instances belong to Application Configuration Service.</p>
<p id="itemdisplayname_propertiesinstances">Instances</p>
<p id="groupdescription_propertiesresourcerequests">Resource request payload of Application Configuration Service</p>
<p id="groupdisplayname_propertiesresourcerequests">Resource requests</p>
<p id="itemdescription_propertiesresourcerequestscpu">Cpu allocated to each Application Configuration Service instance</p>
<p id="itemdisplayname_propertiesresourcerequestscpu">CPU</p>
<p id="itemdescription_propertiesresourcerequestsmemory">Memory allocated to each Application Configuration Service instance</p>
<p id="itemdisplayname_propertiesresourcerequestsmemory">Memory</p>
<p id="itemdescription_propertiesresourcerequestsinstancecount">Instance count of the Application Configuration Service</p>
<p id="itemdisplayname_propertiesresourcerequestsinstancecount">Instance count</p>
<p id="groupdescription_propertiessettings">The settings of Application Configuration Service.</p>
<p id="groupdisplayname_propertiessettings">Settings</p>
<p id="itemdescription_propertiessettingsgitproperty">Property of git environment.</p>
<p id="itemdisplayname_propertiessettingsgitproperty">Git property</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring configuration service properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
