<p id="microsoftappplatformspringappssingular">Microsoft.AppPlatform spring app</p>
<p id="microsoftappplatformspringappssingularlc">microsoft.appplatform spring app</p>
<p id="microsoftappplatformspringappsplural">Microsoft.AppPlatform spring apps</p>
<p id="microsoftappplatformspringappsplurallc">microsoft.appplatform spring apps</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_location">The GEO location of the application, always the same with its parent resource</p>
<p id="itemdisplayname_location">Location</p>
<p id="itemdescription_identity">Managed identity properties retrieved from ARM request headers.</p>
<p id="itemdisplayname_identity">Identity</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiespublic">Indicates whether the App exposes public endpoint</p>
<p id="itemdisplayname_propertiespublic">Public</p>
<p id="itemdescription_propertiesurl">URL of the App</p>
<p id="itemdisplayname_propertiesurl">URL</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning state of the App</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesfqdn">Fully qualified dns Name.</p>
<p id="itemdisplayname_propertiesfqdn">FQDN</p>
<p id="itemdescription_propertieshttpsonly">Indicate if only https is allowed.</p>
<p id="itemdisplayname_propertieshttpsonly">Https only</p>
<p id="itemdescription_propertiescustompersistentdisks">Collection of persistent disk resources list and a possible link for next page.</p>
<p id="itemdisplayname_propertiescustompersistentdisks">Custom persistent disks</p>
<p id="itemdescription_propertiesenableendtoendtls">Indicate if end to end TLS is enabled.</p>
<p id="itemdisplayname_propertiesenableendtoendtls">Enable end to end tls</p>
<p id="itemdescription_propertiesloadedcertificates">Collection of loaded certificate resources list and a possible link for next page.</p>
<p id="itemdisplayname_propertiesloadedcertificates">Loaded certificates</p>
<p id="groupdescription_propertiesaddonconfigs">Collection of addons</p>
<p id="groupdisplayname_propertiesaddonconfigs">Addon configs</p>
<p id="groupdescription_propertiestemporarydisk">Temporary disk payload</p>
<p id="groupdisplayname_propertiestemporarydisk">Temporary disk</p>
<p id="itemdescription_propertiestemporarydisksizeingb">Size of the temporary disk in GB</p>
<p id="itemdisplayname_propertiestemporarydisksizeingb">Size in gb</p>
<p id="itemdescription_propertiestemporarydiskmountpath">Mount path of the temporary disk</p>
<p id="itemdisplayname_propertiestemporarydiskmountpath">Mount path</p>
<p id="groupdescription_propertiespersistentdisk">Persistent disk payload</p>
<p id="groupdisplayname_propertiespersistentdisk">Persistent disk</p>
<p id="itemdescription_propertiespersistentdisksizeingb">Size of the persistent disk in GB</p>
<p id="itemdisplayname_propertiespersistentdisksizeingb">Size in gb</p>
<p id="itemdescription_propertiespersistentdiskusedingb">Size of the used persistent disk in GB</p>
<p id="itemdisplayname_propertiespersistentdiskusedingb">Used in gb</p>
<p id="itemdescription_propertiespersistentdiskmountpath">Mount path of the persistent disk</p>
<p id="itemdisplayname_propertiespersistentdiskmountpath">Mount path</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring app properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
