<p id="microsoftappplatformspringbuildservicesagentpoolssingular">Microsoft.AppPlatform spring build services agent pool</p>
<p id="microsoftappplatformspringbuildservicesagentpoolssingularlc">microsoft.appplatform spring build services agent pool</p>
<p id="microsoftappplatformspringbuildservicesagentpoolsplural">Microsoft.AppPlatform spring build services agent pools</p>
<p id="microsoftappplatformspringbuildservicesagentpoolsplurallc">microsoft.appplatform spring build services agent pools</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning state of the build service agent pool</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="groupdescription_propertiespoolsize">Build service agent pool size properties</p>
<p id="groupdisplayname_propertiespoolsize">Pool size</p>
<p id="itemdescription_propertiespoolsizename">The name of build service agent pool size</p>
<p id="itemdisplayname_propertiespoolsizename">Name</p>
<p id="itemdescription_propertiespoolsizecpu">The cpu property of build service agent pool size</p>
<p id="itemdisplayname_propertiespoolsizecpu">CPU</p>
<p id="itemdescription_propertiespoolsizememory">The memory property of build service agent pool size</p>
<p id="itemdisplayname_propertiespoolsizememory">Memory</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring build services agent pool properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
