<p id="microsoftappplatformspringbuildservicesbuildersbuildpackbindingssingular">Microsoft.AppPlatform spring build services builders buildpack binding</p>
<p id="microsoftappplatformspringbuildservicesbuildersbuildpackbindingssingularlc">microsoft.appplatform spring build services builders buildpack binding</p>
<p id="microsoftappplatformspringbuildservicesbuildersbuildpackbindingsplural">Microsoft.AppPlatform spring build services builders buildpack bindings</p>
<p id="microsoftappplatformspringbuildservicesbuildersbuildpackbindingsplurallc">microsoft.appplatform spring build services builders buildpack bindings</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesbindingtype">Buildpack Binding Type</p>
<p id="itemdisplayname_propertiesbindingtype">Binding type</p>
<p id="itemdescription_propertiesprovisioningstate">State of the Buildpack Binding.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="groupdescription_propertieslaunchproperties">Buildpack Binding Launch Properties</p>
<p id="groupdisplayname_propertieslaunchproperties">Launch properties</p>
<p id="itemdescription_propertieslaunchpropertiesproperties">Non-sensitive properties for launchProperties</p>
<p id="itemdisplayname_propertieslaunchpropertiesproperties">Properties</p>
<p id="itemdescription_propertieslaunchpropertiessecrets">Sensitive properties for launchProperties</p>
<p id="itemdisplayname_propertieslaunchpropertiessecrets">Secrets</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring build services builders buildpack binding properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
