<p id="microsoftappplatformspringappsbindingssingular">Microsoft.AppPlatform spring apps binding</p>
<p id="microsoftappplatformspringappsbindingssingularlc">microsoft.appplatform spring apps binding</p>
<p id="microsoftappplatformspringappsbindingsplural">Microsoft.AppPlatform spring apps bindings</p>
<p id="microsoftappplatformspringappsbindingsplurallc">microsoft.appplatform spring apps bindings</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesresourcename">The name of the bound resource</p>
<p id="itemdisplayname_propertiesresourcename">Resource name</p>
<p id="itemdescription_propertiesresourcetype">The standard Azure resource type of the bound resource</p>
<p id="itemdisplayname_propertiesresourcetype">Resource type</p>
<p id="itemdescription_propertiesresourceid">The Azure resource id of the bound resource</p>
<p id="itemdisplayname_propertiesresourceid">Resource id</p>
<p id="itemdescription_propertieskey">The key of the bound resource</p>
<p id="itemdisplayname_propertieskey">Key</p>
<p id="itemdescription_propertiesgeneratedproperties">The generated Spring Boot property file for this binding. The secret will be deducted.</p>
<p id="itemdisplayname_propertiesgeneratedproperties">Generated properties</p>
<p id="itemdescription_propertiescreatedat">Creation time of the Binding resource</p>
<p id="itemdisplayname_propertiescreatedat">Created at</p>
<p id="itemdescription_propertiesupdatedat">Update time of the Binding resource</p>
<p id="itemdisplayname_propertiesupdatedat">Updated at</p>
<p id="groupdescription_propertiesbindingparameters">Binding parameters of the Binding resource</p>
<p id="groupdisplayname_propertiesbindingparameters">Binding parameters</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring apps binding properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
