<p id="microsoftappplatformspringcertificatessingular">Microsoft.AppPlatform spring certificate</p>
<p id="microsoftappplatformspringcertificatessingularlc">microsoft.appplatform spring certificate</p>
<p id="microsoftappplatformspringcertificatesplural">Microsoft.AppPlatform spring certificates</p>
<p id="microsoftappplatformspringcertificatesplurallc">microsoft.appplatform spring certificates</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring certificate properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
