<p id="microsoftappplatformspringapiportalssingular">Microsoft.AppPlatform spring api portal</p>
<p id="microsoftappplatformspringapiportalssingularlc">microsoft.appplatform spring api portal</p>
<p id="microsoftappplatformspringapiportalsplural">Microsoft.AppPlatform spring api portals</p>
<p id="microsoftappplatformspringapiportalsplurallc">microsoft.appplatform spring api portals</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_sku">Sku of Azure Spring Cloud</p>
<p id="itemdisplayname_sku">Sku</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprovisioningstate">State of the API portal.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiespublic">Indicates whether the API portal exposes endpoint.</p>
<p id="itemdisplayname_propertiespublic">Public</p>
<p id="itemdescription_propertiesurl">URL of the API portal, exposed when 'public' is true.</p>
<p id="itemdisplayname_propertiesurl">URL</p>
<p id="itemdescription_propertieshttpsonly">Indicate if only https is allowed.</p>
<p id="itemdisplayname_propertieshttpsonly">Https only</p>
<p id="itemdescription_propertiesgatewayids">The array of resource Ids of gateway to integrate with API portal.</p>
<p id="itemdisplayname_propertiesgatewayids">Gateway ids</p>
<p id="itemdescription_propertiessourceurls">Collection of OpenAPI source URL locations.</p>
<p id="itemdisplayname_propertiessourceurls">Source urls</p>
<p id="itemdescription_propertiesinstances">Collection of instances belong to API portal.</p>
<p id="itemdisplayname_propertiesinstances">Instances</p>
<p id="groupdescription_propertiesssoproperties">Single sign-on related configuration</p>
<p id="groupdisplayname_propertiesssoproperties">Sso properties</p>
<p id="itemdescription_propertiesssopropertiesscope">It defines the specific actions applications can be allowed to do on a user's behalf</p>
<p id="itemdisplayname_propertiesssopropertiesscope">Scope</p>
<p id="itemdescription_propertiesssopropertiesclientid">The public identifier for the application</p>
<p id="itemdisplayname_propertiesssopropertiesclientid">Client id</p>
<p id="itemdescription_propertiesssopropertiesclientsecret">The secret known only to the application and the authorization server</p>
<p id="itemdisplayname_propertiesssopropertiesclientsecret">Client secret</p>
<p id="itemdescription_propertiesssopropertiesissueruri">The URI of Issuer Identifier</p>
<p id="itemdisplayname_propertiesssopropertiesissueruri">Issuer URI</p>
<p id="groupdescription_propertiesresourcerequests">Resource requests of the API portal</p>
<p id="groupdisplayname_propertiesresourcerequests">Resource requests</p>
<p id="itemdescription_propertiesresourcerequestscpu">Cpu allocated to each API portal instance</p>
<p id="itemdisplayname_propertiesresourcerequestscpu">CPU</p>
<p id="itemdescription_propertiesresourcerequestsmemory">Memory allocated to each API portal instance</p>
<p id="itemdisplayname_propertiesresourcerequestsmemory">Memory</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring api portal properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
