<p id="microsoftappplatformspringgatewayssingular">Microsoft.AppPlatform spring gateway</p>
<p id="microsoftappplatformspringgatewayssingularlc">microsoft.appplatform spring gateway</p>
<p id="microsoftappplatformspringgatewaysplural">Microsoft.AppPlatform spring gateways</p>
<p id="microsoftappplatformspringgatewaysplurallc">microsoft.appplatform spring gateways</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_sku">Sku of Azure Spring Cloud</p>
<p id="itemdisplayname_sku">Sku</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprovisioningstate">State of the Spring Cloud Gateway.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiespublic">Indicates whether the Spring Cloud Gateway exposes endpoint.</p>
<p id="itemdisplayname_propertiespublic">Public</p>
<p id="itemdescription_propertiesurl">URL of the Spring Cloud Gateway, exposed when 'public' is true.</p>
<p id="itemdisplayname_propertiesurl">URL</p>
<p id="itemdescription_propertieshttpsonly">Indicate if only https is allowed.</p>
<p id="itemdisplayname_propertieshttpsonly">Https only</p>
<p id="itemdescription_propertiesinstances">Collection of instances belong to Spring Cloud Gateway.</p>
<p id="itemdisplayname_propertiesinstances">Instances</p>
<p id="groupdescription_propertiesssoproperties">Single sign-on related configuration</p>
<p id="groupdisplayname_propertiesssoproperties">Sso properties</p>
<p id="itemdescription_propertiesssopropertiesscope">It defines the specific actions applications can be allowed to do on a user's behalf</p>
<p id="itemdisplayname_propertiesssopropertiesscope">Scope</p>
<p id="itemdescription_propertiesssopropertiesclientid">The public identifier for the application</p>
<p id="itemdisplayname_propertiesssopropertiesclientid">Client id</p>
<p id="itemdescription_propertiesssopropertiesclientsecret">The secret known only to the application and the authorization server</p>
<p id="itemdisplayname_propertiesssopropertiesclientsecret">Client secret</p>
<p id="itemdescription_propertiesssopropertiesissueruri">The URI of Issuer Identifier</p>
<p id="itemdisplayname_propertiesssopropertiesissueruri">Issuer URI</p>
<p id="groupdescription_propertiesapimetadataproperties">API metadata property for Spring Cloud Gateway</p>
<p id="groupdisplayname_propertiesapimetadataproperties">Api metadata properties</p>
<p id="itemdescription_propertiesapimetadatapropertiestitle">Title describing the context of the APIs available on the Gateway instance (default: `Spring Cloud Gateway for K8S`)</p>
<p id="itemdisplayname_propertiesapimetadatapropertiestitle">Title</p>
<p id="itemdescription_propertiesapimetadatapropertiesdescription">Detailed description of the APIs available on the Gateway instance (default: `Generated OpenAPI 3 document that describes the API routes configured.`)</p>
<p id="itemdisplayname_propertiesapimetadatapropertiesdescription">Description</p>
<p id="itemdescription_propertiesapimetadatapropertiesdocumentation">Location of additional documentation for the APIs available on the Gateway instance</p>
<p id="itemdisplayname_propertiesapimetadatapropertiesdocumentation">Documentation</p>
<p id="itemdescription_propertiesapimetadatapropertiesversion">Version of APIs available on this Gateway instance (default: `unspecified`).</p>
<p id="itemdisplayname_propertiesapimetadatapropertiesversion">Version</p>
<p id="itemdescription_propertiesapimetadatapropertiesserverurl">Base URL that API consumers will use to access APIs on the Gateway instance.</p>
<p id="itemdisplayname_propertiesapimetadatapropertiesserverurl">Server URL</p>
<p id="groupdescription_propertiescorsproperties">Cross-Origin Resource Sharing property</p>
<p id="groupdisplayname_propertiescorsproperties">Cors properties</p>
<p id="itemdescription_propertiescorspropertiesallowedorigins">Allowed origins to make cross-site requests. The special value `*` allows all domains.</p>
<p id="itemdisplayname_propertiescorspropertiesallowedorigins">Allowed origins</p>
<p id="itemdescription_propertiescorspropertiesallowedmethods">Allowed HTTP methods on cross-site requests. The special value `*` allows all methods. If not set, `GET` and `HEAD` are allowed by default.</p>
<p id="itemdisplayname_propertiescorspropertiesallowedmethods">Allowed methods</p>
<p id="itemdescription_propertiescorspropertiesallowedheaders">Allowed headers in cross-site requests. The special value `*` allows actual requests to send any header.</p>
<p id="itemdisplayname_propertiescorspropertiesallowedheaders">Allowed headers</p>
<p id="itemdescription_propertiescorspropertiesmaxage">How long, in seconds, the response from a pre-flight request can be cached by clients.</p>
<p id="itemdisplayname_propertiescorspropertiesmaxage">Max age</p>
<p id="itemdescription_propertiescorspropertiesallowcredentials">Whether user credentials are supported on cross-site requests. Valid values: `true`, `false`.</p>
<p id="itemdisplayname_propertiescorspropertiesallowcredentials">Allow credentials</p>
<p id="itemdescription_propertiescorspropertiesexposedheaders">HTTP response headers to expose for cross-site requests.</p>
<p id="itemdisplayname_propertiescorspropertiesexposedheaders">Exposed headers</p>
<p id="groupdescription_propertiesresourcerequests">Resource request payload of Spring Cloud Gateway.</p>
<p id="groupdisplayname_propertiesresourcerequests">Resource requests</p>
<p id="itemdescription_propertiesresourcerequestscpu">Cpu allocated to each Spring Cloud Gateway instance.</p>
<p id="itemdisplayname_propertiesresourcerequestscpu">CPU</p>
<p id="itemdescription_propertiesresourcerequestsmemory">Memory allocated to each Spring Cloud Gateway instance.</p>
<p id="itemdisplayname_propertiesresourcerequestsmemory">Memory</p>
<p id="groupdescription_propertiesoperatorproperties">Properties of the Spring Cloud Gateway Operator.</p>
<p id="groupdisplayname_propertiesoperatorproperties">Operator properties</p>
<p id="itemdescription_propertiesoperatorpropertiesresourcerequests">Properties of the Spring Cloud Gateway Operator.</p>
<p id="itemdisplayname_propertiesoperatorpropertiesresourcerequests">Resource requests</p>
<p id="itemdescription_propertiesoperatorpropertiesinstances">Collection of instances belong to Spring Cloud Gateway operator.</p>
<p id="itemdisplayname_propertiesoperatorpropertiesinstances">Instances</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring gateway properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
