<p id="microsoftappplatformspringmonitoringsettingssingular">Microsoft.AppPlatform spring monitoring setting</p>
<p id="microsoftappplatformspringmonitoringsettingssingularlc">microsoft.appplatform spring monitoring setting</p>
<p id="microsoftappplatformspringmonitoringsettingsplural">Microsoft.AppPlatform spring monitoring settings</p>
<p id="microsoftappplatformspringmonitoringsettingsplurallc">microsoft.appplatform spring monitoring settings</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Metadata pertaining to creation and last modification of the resource.</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprovisioningstate">State of the Monitoring Setting.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiestraceenabled">Indicates whether enable the trace functionality, which will be deprecated since api version 2020-11-01-preview. Please leverage appInsightsInstrumentationKey to indicate if monitoringSettings enabled or not</p>
<p id="itemdisplayname_propertiestraceenabled">Trace enabled</p>
<p id="itemdescription_propertiesappinsightsinstrumentationkey">Target application insight instrumentation key, null or whitespace include empty will disable monitoringSettings</p>
<p id="itemdisplayname_propertiesappinsightsinstrumentationkey">App insights instrumentation key</p>
<p id="itemdescription_propertiesappinsightssamplingrate">Indicates the sampling rate of application insight agent, should be in range [0.0, 100.0]</p>
<p id="itemdisplayname_propertiesappinsightssamplingrate">App insights sampling rate</p>
<p id="groupdescription_propertieserror">The error code compose of code and message.</p>
<p id="groupdisplayname_propertieserror">Error</p>
<p id="itemdescription_propertieserrorcode">The code of error.</p>
<p id="itemdisplayname_propertieserrorcode">Code</p>
<p id="itemdescription_propertieserrormessage">The message of error.</p>
<p id="itemdisplayname_propertieserrormessage">Message</p>
<p id="groupdescription_propertiesappinsightsagentversions">Application Insights agent versions properties payload</p>
<p id="groupdisplayname_propertiesappinsightsagentversions">App insights agent versions</p>
<p id="itemdescription_propertiesappinsightsagentversionsjava">Indicates the version of application insight java agent</p>
<p id="itemdisplayname_propertiesappinsightsagentversionsjava">Java</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.AppPlatform spring monitoring setting properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
