<p id="microsoftcdnprofilesendpointscustomdomainssingular">Microsoft.Cdn profiles endpoints custom domain</p>
<p id="microsoftcdnprofilesendpointscustomdomainssingularlc">microsoft.cdn profiles endpoints custom domain</p>
<p id="microsoftcdnprofilesendpointscustomdomainsplural">Microsoft.Cdn profiles endpoints custom domains</p>
<p id="microsoftcdnprofilesendpointscustomdomainsplurallc">microsoft.cdn profiles endpoints custom domains</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertieshostname">The host name of the custom domain. Must be a domain name.</p>
<p id="itemdisplayname_propertieshostname">Host name</p>
<p id="itemdescription_propertiesresourcestate">Resource status of the custom domain.</p>
<p id="itemdisplayname_propertiesresourcestate">Resource state</p>
<p id="itemdescription_propertiescustomhttpsprovisioningstate">Provisioning status of Custom Https of the custom domain.</p>
<p id="itemdisplayname_propertiescustomhttpsprovisioningstate">Custom https provisioning state</p>
<p id="itemdescription_propertiescustomhttpsprovisioningsubstate">Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step.</p>
<p id="itemdisplayname_propertiescustomhttpsprovisioningsubstate">Custom https provisioning substate</p>
<p id="itemdescription_propertiescustomhttpsparameters">The JSON object that contains the properties to secure a custom domain.</p>
<p id="itemdisplayname_propertiescustomhttpsparameters">Custom https parameters</p>
<p id="itemdescription_propertiesvalidationdata">Special validation or data may be required when delivering CDN to some regions due to local compliance reasons. E.g. ICP license number of a custom domain is required to deliver content in China.</p>
<p id="itemdisplayname_propertiesvalidationdata">Validation data</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status of the custom domain.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles endpoints custom domain properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
