<p id="microsoftcdnprofilesrulesetsrulessingular">Microsoft.Cdn profiles rule sets rule</p>
<p id="microsoftcdnprofilesrulesetsrulessingularlc">microsoft.cdn profiles rule sets rule</p>
<p id="microsoftcdnprofilesrulesetsrulesplural">Microsoft.Cdn profiles rule sets rules</p>
<p id="microsoftcdnprofilesrulesetsrulesplurallc">microsoft.cdn profiles rule sets rules</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesrulesetname">The name of the rule set containing the rule.</p>
<p id="itemdisplayname_propertiesrulesetname">Rule set name</p>
<p id="itemdescription_propertiesorder">The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied.</p>
<p id="itemdisplayname_propertiesorder">Order</p>
<p id="itemdescription_propertiesconditions">A list of conditions that must be matched for the actions to be executed</p>
<p id="itemdisplayname_propertiesconditions">Conditions</p>
<p id="itemdescription_propertiesactions">A list of actions that are executed when all the conditions of a rule are satisfied.</p>
<p id="itemdisplayname_propertiesactions">Actions</p>
<p id="itemdescription_propertiesmatchprocessingbehavior">If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue.</p>
<p id="itemdisplayname_propertiesmatchprocessingbehavior">Match processing behavior</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesdeploymentstatus"></p>
<p id="itemdisplayname_propertiesdeploymentstatus">Deployment status</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles rule sets rule properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
