<p id="microsoftcdnprofilesendpointssingular">Microsoft.Cdn profiles endpoint</p>
<p id="microsoftcdnprofilesendpointssingularlc">microsoft.cdn profiles endpoint</p>
<p id="microsoftcdnprofilesendpointsplural">Microsoft.Cdn profiles endpoints</p>
<p id="microsoftcdnprofilesendpointsplurallc">microsoft.cdn profiles endpoints</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_location">Resource location.</p>
<p id="itemdisplayname_location">Location</p>
<p id="itemdescription_tags">Resource tags.</p>
<p id="itemdisplayname_tags">Tags</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertieshostname">The host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. contoso.azureedge.net</p>
<p id="itemdisplayname_propertieshostname">Host name</p>
<p id="itemdescription_propertiesorigins">The source of the content being delivered via CDN.</p>
<p id="itemdisplayname_propertiesorigins">Origins</p>
<p id="itemdescription_propertiesorigingroups">The origin groups comprising of origins that are used for load balancing the traffic based on availability.</p>
<p id="itemdisplayname_propertiesorigingroups">Origin groups</p>
<p id="itemdescription_propertiescustomdomains">The custom domains under the endpoint.</p>
<p id="itemdisplayname_propertiescustomdomains">Custom domains</p>
<p id="itemdescription_propertiesresourcestate">Resource status of the endpoint.</p>
<p id="itemdisplayname_propertiesresourcestate">Resource state</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status of the endpoint.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesoriginpath">A directory path on the origin that CDN can use to retrieve content from, e.g. contoso.cloudapp.net/originpath.</p>
<p id="itemdisplayname_propertiesoriginpath">Origin path</p>
<p id="itemdescription_propertiescontenttypestocompress">List of content types on which compression applies. The value should be a valid MIME type.</p>
<p id="itemdisplayname_propertiescontenttypestocompress">Content types to compress</p>
<p id="itemdescription_propertiesoriginhostheader">The host header value sent to the origin with each request. This property at Endpoint is only allowed when endpoint uses single origin and can be overridden by the same property specified at origin.If you leave this blank, the request hostname determines this value. Azure CDN origins, such as Web Apps, Blob Storage, and Cloud Services require this host header value to match the origin hostname by default.</p>
<p id="itemdisplayname_propertiesoriginhostheader">Origin host header</p>
<p id="itemdescription_propertiesiscompressionenabled">Indicates whether content compression is enabled on CDN. Default value is false. If compression is enabled, content will be served as compressed if user requests for a compressed version. Content won't be compressed on CDN when requested content is smaller than 1 byte or larger than 1 MB.</p>
<p id="itemdisplayname_propertiesiscompressionenabled">Is compression enabled</p>
<p id="itemdescription_propertiesishttpallowed">Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.</p>
<p id="itemdisplayname_propertiesishttpallowed">Is http allowed</p>
<p id="itemdescription_propertiesishttpsallowed">Indicates whether HTTPS traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.</p>
<p id="itemdisplayname_propertiesishttpsallowed">Is https allowed</p>
<p id="itemdescription_propertiesquerystringcachingbehavior">Defines how CDN caches requests that include query strings. You can ignore any query strings when caching, bypass caching to prevent requests that contain query strings from being cached, or cache every request with a unique URL.</p>
<p id="itemdisplayname_propertiesquerystringcachingbehavior">Query string caching behavior</p>
<p id="itemdescription_propertiesoptimizationtype">Specifies what scenario the customer wants this CDN endpoint to optimize, e.g. Download, Media services. With this information we can apply scenario driven optimization.</p>
<p id="itemdisplayname_propertiesoptimizationtype">Optimization type</p>
<p id="itemdescription_propertiesprobepath">Path to a file hosted on the origin which helps accelerate delivery of the dynamic content and calculate the most optimal routes for the CDN. This is relative to the origin path. This property is only relevant when using a single origin.</p>
<p id="itemdisplayname_propertiesprobepath">Probe path</p>
<p id="itemdescription_propertiesgeofilters">List of rules defining the user's geo access within a CDN endpoint. Each geo filter defines an access rule to a specified path or content, e.g. block APAC for path /pictures/</p>
<p id="itemdisplayname_propertiesgeofilters">Geo filters</p>
<p id="itemdescription_propertiesurlsigningkeys">List of keys used to validate the signed URL hashes.</p>
<p id="itemdisplayname_propertiesurlsigningkeys">URL signing keys</p>
<p id="groupdescription_propertiesdefaultorigingroup">Reference to another resource.</p>
<p id="groupdisplayname_propertiesdefaultorigingroup">Default origin group</p>
<p id="itemdescription_propertiesdefaultorigingroupid">Resource ID.</p>
<p id="itemdisplayname_propertiesdefaultorigingroupid">Id</p>
<p id="groupdescription_propertiesdeliverypolicy">A policy that specifies the delivery rules to be used for an endpoint.</p>
<p id="groupdisplayname_propertiesdeliverypolicy">Delivery policy</p>
<p id="itemdescription_propertiesdeliverypolicydescription">User-friendly description of the policy.</p>
<p id="itemdisplayname_propertiesdeliverypolicydescription">Description</p>
<p id="itemdescription_propertiesdeliverypolicyrules">A list of the delivery rules.</p>
<p id="itemdisplayname_propertiesdeliverypolicyrules">Rules</p>
<p id="groupdescription_propertieswebapplicationfirewallpolicylink">Defines the Web Application Firewall policy for the endpoint (if applicable)</p>
<p id="groupdisplayname_propertieswebapplicationfirewallpolicylink">Web application firewall policy link</p>
<p id="itemdescription_propertieswebapplicationfirewallpolicylinkid">Resource ID.</p>
<p id="itemdisplayname_propertieswebapplicationfirewallpolicylinkid">Id</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles endpoint properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
