<p id="microsoftcdnprofilesorigingroupssingular">Microsoft.Cdn profiles origin group</p>
<p id="microsoftcdnprofilesorigingroupssingularlc">microsoft.cdn profiles origin group</p>
<p id="microsoftcdnprofilesorigingroupsplural">Microsoft.Cdn profiles origin groups</p>
<p id="microsoftcdnprofilesorigingroupsplurallc">microsoft.cdn profiles origin groups</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesprofilename">The name of the profile which holds the origin group.</p>
<p id="itemdisplayname_propertiesprofilename">Profile name</p>
<p id="itemdescription_propertiestrafficrestorationtimetohealedornewendpointsinminutes">Time in minutes to shift the traffic to the endpoint gradually when an unhealthy endpoint comes healthy or a new endpoint is added. Default is 10 mins. This property is currently not supported.</p>
<p id="itemdisplayname_propertiestrafficrestorationtimetohealedornewendpointsinminutes">Traffic restoration time to healed or new endpoints in minutes</p>
<p id="itemdescription_propertiessessionaffinitystate">Whether to enable use of this rule. Permitted values are 'Enabled' or 'Disabled'</p>
<p id="itemdisplayname_propertiessessionaffinitystate">Session affinity state</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesdeploymentstatus"></p>
<p id="itemdisplayname_propertiesdeploymentstatus">Deployment status</p>
<p id="groupdescription_propertiesloadbalancingsettings">Round-Robin load balancing settings for a backend pool</p>
<p id="groupdisplayname_propertiesloadbalancingsettings">Load balancing settings</p>
<p id="itemdescription_propertiesloadbalancingsettingssamplesize">The number of samples to consider for load balancing decisions</p>
<p id="itemdisplayname_propertiesloadbalancingsettingssamplesize">Sample size</p>
<p id="itemdescription_propertiesloadbalancingsettingssuccessfulsamplesrequired">The number of samples within the sample period that must succeed</p>
<p id="itemdisplayname_propertiesloadbalancingsettingssuccessfulsamplesrequired">Successful samples required</p>
<p id="itemdescription_propertiesloadbalancingsettingsadditionallatencyinmilliseconds">The additional latency in milliseconds for probes to fall into the lowest latency bucket</p>
<p id="itemdisplayname_propertiesloadbalancingsettingsadditionallatencyinmilliseconds">Additional latency in milliseconds</p>
<p id="groupdescription_propertieshealthprobesettings">The JSON object that contains the properties to send health probes to origin.</p>
<p id="groupdisplayname_propertieshealthprobesettings">Health probe settings</p>
<p id="itemdescription_propertieshealthprobesettingsprobepath">The path relative to the origin that is used to determine the health of the origin.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobepath">Probe path</p>
<p id="itemdescription_propertieshealthprobesettingsproberequesttype">The type of health probe request that is made.</p>
<p id="itemdisplayname_propertieshealthprobesettingsproberequesttype">Probe request type</p>
<p id="itemdescription_propertieshealthprobesettingsprobeprotocol">Protocol to use for health probe.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobeprotocol">Probe protocol</p>
<p id="itemdescription_propertieshealthprobesettingsprobeintervalinseconds">The number of seconds between health probes.Default is 240sec.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobeintervalinseconds">Probe interval in seconds</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles origin group properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
