<p id="microsoftcdncdnwebapplicationfirewallpoliciessingular">Content Delivery Network WAF policy</p>
<p id="microsoftcdncdnwebapplicationfirewallpoliciessingularlc">content delivery network WAF policy</p>
<p id="microsoftcdncdnwebapplicationfirewallpoliciesplural">Content Delivery Network WAF policies</p>
<p id="microsoftcdncdnwebapplicationfirewallpoliciesplurallc">content delivery network WAF policies</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_location">Resource location.</p>
<p id="itemdisplayname_location">Location</p>
<p id="itemdescription_tags">Resource tags.</p>
<p id="itemdisplayname_tags">Tags</p>
<p id="itemdescription_etag">Gets a unique read-only string that changes whenever the resource is updated.</p>
<p id="itemdisplayname_etag">Etag</p>
<p id="itemdescription_sku">The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.</p>
<p id="itemdisplayname_sku">Sku</p>
<p id="itemdescription_propertiesendpointlinks">Describes Azure CDN endpoints associated with this Web Application Firewall policy.</p>
<p id="itemdisplayname_propertiesendpointlinks">Endpoint links</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning state of the WebApplicationFirewallPolicy.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesresourcestate">Resource status of the policy.</p>
<p id="itemdisplayname_propertiesresourcestate">Resource state</p>
<p id="groupdescription_propertiespolicysettings">Defines contents of a web application firewall global configuration</p>
<p id="groupdisplayname_propertiespolicysettings">Policy settings</p>
<p id="itemdescription_propertiespolicysettingsenabledstate">Describes if the policy is in enabled state or disabled state</p>
<p id="itemdisplayname_propertiespolicysettingsenabledstate">Enabled state</p>
<p id="itemdescription_propertiespolicysettingsmode">Describes if it is in detection mode or prevention mode at policy level.</p>
<p id="itemdisplayname_propertiespolicysettingsmode">Mode</p>
<p id="itemdescription_propertiespolicysettingsdefaultredirecturl">If action type is redirect, this field represents the default redirect URL for the client.</p>
<p id="itemdisplayname_propertiespolicysettingsdefaultredirecturl">Default redirect URL</p>
<p id="itemdescription_propertiespolicysettingsdefaultcustomblockresponsestatuscode">If the action type is block, this field defines the default customer overridable http response status code.</p>
<p id="itemdisplayname_propertiespolicysettingsdefaultcustomblockresponsestatuscode">Default custom block response status code</p>
<p id="itemdescription_propertiespolicysettingsdefaultcustomblockresponsebody">If the action type is block, customer can override the response body. The body must be specified in base64 encoding.</p>
<p id="itemdisplayname_propertiespolicysettingsdefaultcustomblockresponsebody">Default custom block response body</p>
<p id="groupdescription_propertiesratelimitrules">Defines contents of rate limit rules</p>
<p id="groupdisplayname_propertiesratelimitrules">Rate limit rules</p>
<p id="itemdescription_propertiesratelimitrulesrules">List of rules</p>
<p id="itemdisplayname_propertiesratelimitrulesrules">Rules</p>
<p id="groupdescription_propertiescustomrules">Defines contents of custom rules</p>
<p id="groupdisplayname_propertiescustomrules">Custom rules</p>
<p id="itemdescription_propertiescustomrulesrules">List of rules</p>
<p id="itemdisplayname_propertiescustomrulesrules">Rules</p>
<p id="groupdescription_propertiesmanagedrules">Defines the list of managed rule sets for the policy.</p>
<p id="groupdisplayname_propertiesmanagedrules">Managed rules</p>
<p id="itemdescription_propertiesmanagedrulesmanagedrulesets">List of rule sets.</p>
<p id="itemdisplayname_propertiesmanagedrulesmanagedrulesets">Managed rule sets</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Content Delivery Network WAF policy properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
