<p id="microsoftbotservicebotservicessingular">Bot Service</p>
<p id="microsoftbotservicebotservicessingularlc">bot service</p>
<p id="microsoftbotservicebotservicesplural">Bot Services</p>
<p id="microsoftbotservicebotservicesplurallc">bot services</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_location">Specifies the location of the resource.</p>
<p id="itemdisplayname_location">Location</p>
<p id="itemdescription_tags">Contains resource tags defined as key/value pairs.</p>
<p id="itemdisplayname_tags">Tags</p>
<p id="itemdescription_sku">The SKU of the cognitive services account.</p>
<p id="itemdisplayname_sku">Sku</p>
<p id="itemdescription_kind">Indicates the type of bot service</p>
<p id="itemdisplayname_kind">Kind</p>
<p id="itemdescription_etag">Entity Tag</p>
<p id="itemdisplayname_etag">Etag</p>
<p id="itemdescription_propertiesdisplayname">The Name of the bot</p>
<p id="itemdisplayname_propertiesdisplayname">Display name</p>
<p id="itemdescription_propertiesdescription">The description of the bot</p>
<p id="itemdisplayname_propertiesdescription">Description</p>
<p id="itemdescription_propertiesiconurl">The Icon Url of the bot</p>
<p id="itemdisplayname_propertiesiconurl">Icon URL</p>
<p id="itemdescription_propertiesendpoint">The bot's endpoint</p>
<p id="itemdisplayname_propertiesendpoint">Endpoint</p>
<p id="itemdescription_propertiesendpointversion">The bot's endpoint version</p>
<p id="itemdisplayname_propertiesendpointversion">Endpoint version</p>
<p id="itemdescription_propertiesmsaappid">Microsoft App Id for the bot</p>
<p id="itemdisplayname_propertiesmsaappid">Msa app id</p>
<p id="itemdescription_propertiesconfiguredchannels">Collection of channels for which the bot is configured</p>
<p id="itemdisplayname_propertiesconfiguredchannels">Configured channels</p>
<p id="itemdescription_propertiesenabledchannels">Collection of channels for which the bot is enabled</p>
<p id="itemdisplayname_propertiesenabledchannels">Enabled channels</p>
<p id="itemdescription_propertiesdeveloperappinsightkey">The Application Insights key</p>
<p id="itemdisplayname_propertiesdeveloperappinsightkey">Developer app insight key</p>
<p id="itemdescription_propertiesdeveloperappinsightsapikey">The Application Insights Api Key</p>
<p id="itemdisplayname_propertiesdeveloperappinsightsapikey">Developer app insights api key</p>
<p id="itemdescription_propertiesdeveloperappinsightsapplicationid">The Application Insights App Id</p>
<p id="itemdisplayname_propertiesdeveloperappinsightsapplicationid">Developer app insights application id</p>
<p id="itemdescription_propertiesluisappids">Collection of LUIS App Ids</p>
<p id="itemdisplayname_propertiesluisappids">Luis app ids</p>
<p id="itemdescription_propertiesluiskey">The LUIS Key</p>
<p id="itemdisplayname_propertiesluiskey">Luis key</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Bot Service properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
