<p id="microsoftcdnprofilescustomdomainssingular">Microsoft.Cdn profiles custom domain</p>
<p id="microsoftcdnprofilescustomdomainssingularlc">microsoft.cdn profiles custom domain</p>
<p id="microsoftcdnprofilescustomdomainsplural">Microsoft.Cdn profiles custom domains</p>
<p id="microsoftcdnprofilescustomdomainsplurallc">microsoft.cdn profiles custom domains</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesdomainvalidationstate">Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step. DCV stands for DomainControlValidation.</p>
<p id="itemdisplayname_propertiesdomainvalidationstate">Domain validation state</p>
<p id="itemdescription_propertieshostname">The host name of the domain. Must be a domain name.</p>
<p id="itemdisplayname_propertieshostname">Host name</p>
<p id="itemdescription_propertiesprofilename">The name of the profile which holds the domain.</p>
<p id="itemdisplayname_propertiesprofilename">Profile name</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesdeploymentstatus"></p>
<p id="itemdisplayname_propertiesdeploymentstatus">Deployment status</p>
<p id="groupdescription_propertiesvalidationproperties">The JSON object that contains the properties to validate a domain.</p>
<p id="groupdisplayname_propertiesvalidationproperties">Validation properties</p>
<p id="itemdescription_propertiesvalidationpropertiesvalidationtoken">Challenge used for DNS TXT record or file based validation</p>
<p id="itemdisplayname_propertiesvalidationpropertiesvalidationtoken">Validation token</p>
<p id="itemdescription_propertiesvalidationpropertiesexpirationdate">The date time that the token expires</p>
<p id="itemdisplayname_propertiesvalidationpropertiesexpirationdate">Expiration date</p>
<p id="groupdescription_propertiestlssettings">The JSON object that contains the properties to secure a domain.</p>
<p id="groupdisplayname_propertiestlssettings">Tls settings</p>
<p id="itemdescription_propertiestlssettingscertificatetype">Defines the source of the SSL certificate.</p>
<p id="itemdisplayname_propertiestlssettingscertificatetype">Certificate type</p>
<p id="itemdescription_propertiestlssettingsminimumtlsversion">TLS protocol version that will be used for Https</p>
<p id="itemdisplayname_propertiestlssettingsminimumtlsversion">Minimum tls version</p>
<p id="itemdescription_propertiestlssettingssecret">Reference to another resource.</p>
<p id="itemdisplayname_propertiestlssettingssecret">Secret</p>
<p id="groupdescription_propertiesazurednszone">Reference to another resource.</p>
<p id="groupdisplayname_propertiesazurednszone">Azure DNS zone</p>
<p id="itemdescription_propertiesazurednszoneid">Resource ID.</p>
<p id="itemdisplayname_propertiesazurednszoneid">Id</p>
<p id="groupdescription_propertiesprevalidatedcustomdomainresourceid">Reference to another resource.</p>
<p id="groupdisplayname_propertiesprevalidatedcustomdomainresourceid">Pre validated custom domain resource id</p>
<p id="itemdescription_propertiesprevalidatedcustomdomainresourceidid">Resource ID.</p>
<p id="itemdisplayname_propertiesprevalidatedcustomdomainresourceidid">Id</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles custom domain properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
