<p id="microsoftcdnprofilesendpointsorigingroupssingular">Microsoft.Cdn profiles endpoints origin group</p>
<p id="microsoftcdnprofilesendpointsorigingroupssingularlc">microsoft.cdn profiles endpoints origin group</p>
<p id="microsoftcdnprofilesendpointsorigingroupsplural">Microsoft.Cdn profiles endpoints origin groups</p>
<p id="microsoftcdnprofilesendpointsorigingroupsplurallc">microsoft.cdn profiles endpoints origin groups</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesresourcestate">Resource status of the origin group.</p>
<p id="itemdisplayname_propertiesresourcestate">Resource state</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status of the origin group.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesorigins">The source of the content being delivered via CDN within given origin group.</p>
<p id="itemdisplayname_propertiesorigins">Origins</p>
<p id="itemdescription_propertiestrafficrestorationtimetohealedornewendpointsinminutes">Time in minutes to shift the traffic to the endpoint gradually when an unhealthy endpoint comes healthy or a new endpoint is added. Default is 10 mins. This property is currently not supported.</p>
<p id="itemdisplayname_propertiestrafficrestorationtimetohealedornewendpointsinminutes">Traffic restoration time to healed or new endpoints in minutes</p>
<p id="groupdescription_propertieshealthprobesettings">The JSON object that contains the properties to send health probes to origin.</p>
<p id="groupdisplayname_propertieshealthprobesettings">Health probe settings</p>
<p id="itemdescription_propertieshealthprobesettingsprobepath">The path relative to the origin that is used to determine the health of the origin.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobepath">Probe path</p>
<p id="itemdescription_propertieshealthprobesettingsproberequesttype">The type of health probe request that is made.</p>
<p id="itemdisplayname_propertieshealthprobesettingsproberequesttype">Probe request type</p>
<p id="itemdescription_propertieshealthprobesettingsprobeprotocol">Protocol to use for health probe.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobeprotocol">Probe protocol</p>
<p id="itemdescription_propertieshealthprobesettingsprobeintervalinseconds">The number of seconds between health probes.Default is 240sec.</p>
<p id="itemdisplayname_propertieshealthprobesettingsprobeintervalinseconds">Probe interval in seconds</p>
<p id="groupdescription_propertiesresponsebasedoriginerrordetectionsettings">The JSON object that contains the properties to determine origin health using real requests/responses.</p>
<p id="groupdisplayname_propertiesresponsebasedoriginerrordetectionsettings">Response based origin error detection settings</p>
<p id="itemdescription_propertiesresponsebasedoriginerrordetectionsettingsresponsebaseddetectederrortypes">Type of response errors for real user requests for which origin will be deemed unhealthy</p>
<p id="itemdisplayname_propertiesresponsebasedoriginerrordetectionsettingsresponsebaseddetectederrortypes">Response based detected error types</p>
<p id="itemdescription_propertiesresponsebasedoriginerrordetectionsettingsresponsebasedfailoverthresholdpercentage">The percentage of failed requests in the sample where failover should trigger.</p>
<p id="itemdisplayname_propertiesresponsebasedoriginerrordetectionsettingsresponsebasedfailoverthresholdpercentage">Response based failover threshold percentage</p>
<p id="itemdescription_propertiesresponsebasedoriginerrordetectionsettingshttperrorranges">The list of Http status code ranges that are considered as server errors for origin and it is marked as unhealthy.</p>
<p id="itemdisplayname_propertiesresponsebasedoriginerrordetectionsettingshttperrorranges">Http error ranges</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles endpoints origin group properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
