<p id="microsoftcdnprofilesendpointsoriginssingular">Microsoft.Cdn profiles endpoints origin</p>
<p id="microsoftcdnprofilesendpointsoriginssingularlc">microsoft.cdn profiles endpoints origin</p>
<p id="microsoftcdnprofilesendpointsoriginsplural">Microsoft.Cdn profiles endpoints origins</p>
<p id="microsoftcdnprofilesendpointsoriginsplurallc">microsoft.cdn profiles endpoints origins</p>
<p id="itemdescription_id">Resource Id</p>
<p id="itemdisplayname_id">Id</p>
<p id="itemdescription_name">Resource name</p>
<p id="itemdisplayname_name">Name</p>
<p id="itemdescription_type">Resource type</p>
<p id="itemdisplayname_type">Type</p>
<p id="itemdescription_apiversion">Api version</p>
<p id="itemdisplayname_apiversion">Api version</p>
<p id="itemdescription_systemdata">Read only system data</p>
<p id="itemdisplayname_systemdata">System data</p>
<p id="itemdescription_propertiesresourcestate">Resource status of the origin.</p>
<p id="itemdisplayname_propertiesresourcestate">Resource state</p>
<p id="itemdescription_propertiesprovisioningstate">Provisioning status of the origin.</p>
<p id="itemdisplayname_propertiesprovisioningstate">Provisioning state</p>
<p id="itemdescription_propertiesprivateendpointstatus">The approval status for the connection to the Private Link</p>
<p id="itemdisplayname_propertiesprivateendpointstatus">Private endpoint status</p>
<p id="itemdescription_propertieshostname">The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.This should be unique across all origins in an endpoint.</p>
<p id="itemdisplayname_propertieshostname">Host name</p>
<p id="itemdescription_propertieshttpport">The value of the HTTP port. Must be between 1 and 65535.</p>
<p id="itemdisplayname_propertieshttpport">Http port</p>
<p id="itemdescription_propertieshttpsport">The value of the HTTPS port. Must be between 1 and 65535.</p>
<p id="itemdisplayname_propertieshttpsport">Https port</p>
<p id="itemdescription_propertiesoriginhostheader">The host header value sent to the origin with each request. If you leave this blank, the request hostname determines this value. Azure CDN origins, such as Web Apps, Blob Storage, and Cloud Services require this host header value to match the origin hostname by default. This overrides the host header defined at Endpoint</p>
<p id="itemdisplayname_propertiesoriginhostheader">Origin host header</p>
<p id="itemdescription_propertiespriority">Priority of origin in given origin group for load balancing. Higher priorities will not be used for load balancing if any lower priority origin is healthy.Must be between 1 and 5</p>
<p id="itemdisplayname_propertiespriority">Priority</p>
<p id="itemdescription_propertiesweight">Weight of the origin in given origin group for load balancing. Must be between 1 and 1000</p>
<p id="itemdisplayname_propertiesweight">Weight</p>
<p id="itemdescription_propertiesenabled">Origin is enabled for load balancing or not</p>
<p id="itemdisplayname_propertiesenabled">Enabled</p>
<p id="itemdescription_propertiesprivatelinkalias">The Alias of the Private Link resource. Populating this optional field indicates that this origin is 'Private'</p>
<p id="itemdisplayname_propertiesprivatelinkalias">Private link alias</p>
<p id="itemdescription_propertiesprivatelinkresourceid">The Resource Id of the Private Link resource. Populating this optional field indicates that this backend is 'Private'</p>
<p id="itemdisplayname_propertiesprivatelinkresourceid">Private link resource id</p>
<p id="itemdescription_propertiesprivatelinklocation">The location of the Private Link resource. Required only if 'privateLinkResourceId' is populated</p>
<p id="itemdisplayname_propertiesprivatelinklocation">Private link location</p>
<p id="itemdescription_propertiesprivatelinkapprovalmessage">A custom message to be included in the approval request to connect to the Private Link.</p>
<p id="itemdisplayname_propertiesprivatelinkapprovalmessage">Private link approval message</p>
<p id="refresh">Refresh</p>
<p id="resourceId">Resource id</p>
<p id="propertiesTitle">Microsoft.Cdn profiles endpoints origin properties</p>
<p id="typeLabel">Type</p>
<p id="properties">Properties</p>
<p id="essentials">Essentials</p>
